<application ... >
    <activity android:name=".ResumenActivity"/>
    <activity android:name=".FormularioActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
